params {
    sample_csv = './samples.csv'
    outdir     = 'Results_BactPhage-Annot'
    params.run_name = 'run'


// Options des logiciels (Activé par défaut)
    run_mgefinder    = true
    run_integron     = true
    run_phispy       = true
    run_defense      = true
    run_crispr       = true
    run_dgr          = true

    // IntegronFinder
    min_attc_size       = 40
    max_attc_size       = 200
    distance_thresh     = 4000
    calin_threshold     = 2
    evalue_attc         = 1
    topology            = 'linear'



    // PhiSpy
    phispy_threads = 2
    phispy_min_contig_size = 10
    phispy_window_size = 30
    phispy_number = 5
    phispy_extra_dna = 2000
    phispy_min_repeat_len = 10

    // DefenseFinder
    defense_workers = 0
    defense_coverage = 0.4
    defense_db_type = 'ordered_replicon'
    defense_preserve_raw = false
    defensefinder_models = "${projectDir}/defensefinder_models"

    // CrisprCasFinder
    crispr_keepAll = false
    crispr_vicinity = 20000
    crispr_cpuMacSyFinder = 1

    // DGR
    dgr_rev_hom = null
    dgr_tr_hom = null
}

// Docker
process {
    withName: mge_find {
        container = 'ivasilyev/mgefinder@sha256:4a9942869fe17d2543b73af75ca5ed96f32e35e9de51ef011faeb123ea619efa'
    }
    withName: mge_pair {
        container = 'ivasilyev/mgefinder@sha256:4a9942869fe17d2543b73af75ca5ed96f32e35e9de51ef011faeb123ea619efa'
    }
    withName: mge_inferseq {
        container = 'ivasilyev/mgefinder@sha256:4a9942869fe17d2543b73af75ca5ed96f32e35e9de51ef011faeb123ea619efa'
    }
    withName: run_phiSpy {
        container = 'drantoine/phispy:1.0.2'
    }
    withName: run_integronFinder {
        container = 'gempasteur/integron_finder:2.0.6'
    }
    withName: run_defenseFinder {
        container = 'bjhall/defense-finder:2.0.1-models-2.0.2'
        containerOptions = "-v ${projectDir}/defensefinder_models:/root/.macsyfinder/models"
    }
    withName: run_antiDefenseFinder {
        container = 'bjhall/defense-finder:2.0.1-models-2.0.2'
        containerOptions = "-v ${projectDir}/defensefinder_models:/root/.macsyfinder/models"
    }
    withName: run_crisprCasFinder {
        container = 'unlhcc/crisprcasfinder:4.2.20'
    }
    withName: run_DGR {
        container = 'dgr:1.0'
    }
    
}

docker {
    enabled = true
    runOptions = "-v ${projectDir}/defensefinder_models:/root/.macsyfinder/models"
}

